body {
    font-family: Arial;
    padding: 30px;
}

h1 {
    color: #2c3e50;
}

button {
    padding: 10px 20px;
    background: #2ecc71;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}


